.articles {
  background-color: $veryLightGray;
  padding: 2.5rem;
}

.article {
  &-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    @include breakpoint-up(medium) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint-up(large) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &-item {
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
    transition: all 150ms ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  &-image {
    height: 12rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &-text {
    color: $grayishBlue;
    padding: 1.8rem 1.8rem 2.5rem;

    @include breakpoint-up(medium) {
      padding: 1.8rem 1.5rem;
    }
  }

  &-author {
    font-size: 0.7rem;
    margin-bottom: 0.8rem;
  }

  &-title {
    font-size: $med;
    color: $darkBlue;
    margin-bottom: 0.5rem;
  }

  &-description {
    font-size: 0.8rem;
  }
}
