.feature {
  background-color: $lightGrayishBlue;
  text-align: center;

  @include breakpoint-up(medium) {
    text-align: left;
  }

  &-intro {
    margin-bottom: 3.5rem;

    @include breakpoint-up(large) {
      width: 55%;
    }
  }

  &-grid {
    @include breakpoint-up(medium) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &-item {
    padding: 1rem;

    @include breakpoint-up(medium) {
      flex: 0 0 50%; // grow - shrink - basis
    }

    @include breakpoint-up(large) {
      flex: 1;
    }
  }

  &-icon {
    margin-bottom: 1.5rem;

    @include breakpoint-up(large) {
      margin-bottom: 2.5rem;
    }
  }

  &-title {
    font-size: 1.25rem;
    font-weight: 300;
    color: $darkBlue;
    margin-bottom: 1rem;

    @include breakpoint-up(large) {
      font-size: 1.4rem;
      margin-bottom: 1.5rem;
    }
  }

  &-description {
    font-size: 0.9rem;
    line-height: 1.5;
  }
}
