@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap");
.fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 0.2s ease-in-out forwards;
          animation: fade-in 0.2s ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 0.2s ease-in-out forwards;
          animation: fade-out 0.2s ease-in-out forwards;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #9698a6;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.25rem 1.5rem;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

button,
.button {
  padding: 1rem 1.75rem;
  border-radius: 3rem;
  cursor: pointer;
  border: 0;
  color: white;
  font-weight: 400;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
}

@media (max-width: 1023px) {
  .hide-mobile {
    display: none;
  }
}

@media (min-width: 1024px) {
  .hide-desktop {
    display: none;
  }
}

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 4rem;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2d314d), to(transparent));
  background-image: linear-gradient(#2d314d, transparent);
}

.header-logo img {
  width: 160px;
  height: 25px;
}

.header-hamburger > span {
  display: block;
  width: 25px;
  height: 2px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background-color: #2d314d;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.header-hamburger > span:not(:last-child) {
  margin-bottom: 5px;
}

.header-hamburger.open > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header-hamburger.open > span:nth-child(2) {
  opacity: 0;
}

.header-hamburger.open > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header-links a {
  position: relative;
  font-size: 0.9rem;
  color: #9698a6;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

.header-links a:not(:last-child) {
  margin-right: 2rem;
}

.header-links a::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  height: 2px;
  border-radius: 1px;
  bottom: -30px;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.header-links a:hover {
  color: #2d314d;
}

.header-links a:hover::before {
  opacity: 1;
}

.header-cta {
  font-size: 0.9rem;
  color: white;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.header-cta:hover {
  opacity: 0.7;
}

.header-menu {
  position: absolute;
  width: 80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: white;
  margin-top: 1.5rem;
  padding: 1.625rem;
  border-radius: 5px;
}

.header-menu a {
  display: block;
  padding: 0.625rem;
  color: #2d314d;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */